@import "tailwindcss";

/* Base global */
:root { color-scheme: light dark; }
html, body, #root { height: 100%; }
body { /* Tema claro por defecto */
  --bg:  #f9fafb; /* gray-50 */
  --fg:  #111827; /* gray-900 */
  background: var(--bg);
  color: var(--fg);
}

/* Tema oscuro si luego decides activarlo con class="dark" en <html> */
.dark body {
  --bg: #0a0a0a;  /* gray-950 */
  --fg: #f5f5f5;  /* gray-100 */
  background: var(--bg);
  color: var(--fg);
}
a { color: #2563eb } /* blue-600 */
a:hover { text-decoration: underline; }
pre, code { font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace }
