@import "tailwindcss";

@layer base {
  a { @apply no-underline text-inherit; }   /* sin subrayado, hereda color */
  a:hover { @apply no-underline; }          /* sin subrayado al hover */
}


/* Base global */
:root { color-scheme: light dark; }
html, body, #root { height: 100%; }
body { /* Tema claro por defecto */
  --bg:  #f9fafb; /* gray-50 */
  --fg:  #111827; /* gray-900 */
  background: var(--bg);
  color: var(--fg);
}

/* Tema oscuro si luego decides activarlo con class="dark" en <html> */
.dark body {
  --bg: #0a0a0a;  /* gray-950 */
  --fg: #f5f5f5;  /* gray-100 */
  background: var(--bg);
  color: var(--fg);
}

pre, code { font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace }
